.demo-item-class {
    float: left;
    width: 84px;
    height: auto;
    padding: 14px;
    margin: 0 14px 14px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 0 0 0 1px #dddddd;
}

.demo-item-class:not(.demo-selected):hover {
    background-color: #eee;
}
